
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserFeedBack</title>
    <script src="~/Scripts/jquery-2.2.3.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/LeafUpdateCss/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Scripts/tinymce/ui.css" rel="stylesheet" />
    <script src="~/Scripts/tinymce/tiny_mce.js"></script>
    <script src="~/Scripts/tinymce/tiny_mce_src.js"></script>
    <script src="~/Scripts/jquery.ui.widget.js"></script>
    <link href='~/Content/MyTinyMce.css' rel='stylesheet' />
    <link href="~/Content/TinyMceCustom.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome-4.6.2/css/font-awesome.css" rel="stylesheet" />
    <title></title>
    <meta charset="utf-8" />


</head>
<body>
    <!-- Modal -->

</body>
</html>
<script>
    $(document).ready(function () {

    })


</script>