@model CDS.Models.ForgotPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/images/favicon5.png" />
    <title>Forgot Password</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/logincds.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/checkbox-cds.css" rel="stylesheet" />
    <link href="~/Content/responsivecds.css" rel="stylesheet" />
</head>
<body>
    @if (ViewData["ForgetPasswordError"] != null)
    {


        <div class="col-md-12">
            <div class="login-error">
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <h4>Alert!</h4>
                        @ViewData["ForgetPasswordError"]
                    </div>
            </div>
        </div>


    }
    <div class="login-box">
        <div class="form-holder forgot">

            @using (Html.BeginForm("ForgetPassword", "User", FormMethod.Post, new { role = "form", @id = "loginForm" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="logo-cds" style="padding-bottom:50px">
                    <img src="~/images/logo-cds.png" />
                </div>

                <form>
                    <p class="login-title">Forgot password</p>
                    <p class="desc-text">Enter your email address. You will recieve an email with a link to reset your password.</p>
                    <div class="user-email">
                        @Html.TextBoxFor(m => m.Email, new { @type = "Email", required = "required", @class = "form-control", PlaceHolder = "Email" })
                        <span class="icon-login">
                            <img src="~/images/user.png" alt="icon" />
                        </span>
                    </div>
                    <div class="">
                        <div class="btn-login">
                            <button type="submit">Submit</button>
                        </div>
                        @*<div class="">
                            <button type="button" >Login</button>
                        </div>*@
                        @*<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 btn-login">
                            <button type="button" onclick="window.open('../User/LoginUser','_self')">Login</button>
                        </div>*@
                        <div class="registerd">
                           <a class="back-login" href="#" onclick="window.open('../User/LoginUser','_self')">Back to login</a>
                        </div>

                    </div>
                </form>

            }
            <div class="shdow-img"></div>
        </div>
        <div class="copyright-login">
            <p>Incoporation with UnitedWeReach. 2017 </p>
        </div>
    </div>

    <script src="~/Scripts/jquery-2.2.3.js"></script>
</body>
</html>
<script>
    $(document).ready(function () {

        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(1000, function () {
                $(this).remove();
            });
        }, 4000);
    });
</script>
