@{
Layout=null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/images/favicon5.png" />
    <title>Verification Email</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/logincds.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/checkbox-cds.css" rel="stylesheet" />
    <link href="~/Content/responsivecds.css" rel="stylesheet" />
    <style>
        body {
            background: #EAEAEB !important;
        }
    </style>
</head>

<body>

    <div class="rigster-header">
        <div class="container">

            <div class="logo">
                <img src="~/images/register-logo.png" alt="logo" />
            </div>
        </div>


    </div>
    <div class="verify-mobile">
        <h2>Thank you for registering. Please verify your account.</h2>
        <p>
            In order to participate in the curriculum design system, you must verify your account. An email has been sent to your email address with a link to verify your account. If you have not recieved the email after a few minutes, please check your spam folder or
            resend the verification email.
        </p>
        <p class="text-center" title="Login Here" style="cursor:pointer"><a herf="#" onclick="window.open('../User/LoginUser','_self')">Login</a></p>

    </div>
</body>
</html>
